<nav id="global-navbar">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/images/logo.svg" alt="Logo Diribeo" title="Diribeo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#global-navbar-nav" aria-controls="global-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="global-navbar-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if page.url == "/" %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/">Accueil</a>
      </li>
      <li class="nav-item {% if page.url == "/meridian.html" %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/meridian">Meridian</a>
      </li>
      <li class="nav-item {% if page.url == "/diribeo.html" %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/diribeo">Diribéo</a>
      </li>
      <li class="nav-item {% if page.url == "/portfolio.html" %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/portfolio">Portfolio</a>
      </li>
      <li class="nav-item {% if page.url == "/actualites.html" or page.collection == "posts" %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/actualites">Actualités</a>
      </li>
      <li class="nav-item {% if page.url == "/contact.html" %}active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
