$orange:  #f06923;

$primary: $orange;

$body-color: #231f20;

$font-family-sans-serif:      "Libre Franklin", Arial, sans-serif;
$font-family-serif:           Georgia, "Noto Serif", "Times New Roman", serif;

$lead-font-weight:            normal;

$headings-font-family:        $font-family-serif;
$headings-font-weight:        bold;
$headings-font-style:         italic;

$btn-padding-x: 2rem;
$btn-padding-y: .5rem;

$navbar-light-color:                $body-color;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $body-color;
