#diribeo--etapes-installation {
  @extend .list-unstyled, .row;
  > li {
    @extend .col-12, .col-md-4;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include media-breakpoint-up(md) {
      align-items: center;
    }
  }
  img {
    display: block;
    width: 12rem; height: 12rem;
    max-width: 100%;
    padding: 3rem;
    background-image: url('../images/petits-rayons-moitie.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 2rem;
  }
  > li:first-child img {
    background-image: url('../images/petits-rayons-quart.svg');
  }
  > li:last-child img {
    background-image: url('../images/petits-rayons-trois-quarts.svg');
  }
}

#diribeo--en-continu {
  @extend .row;
  .illustration {
    @extend .col-12, .col-md-auto;
  }
  .details {
    @extend .col;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  img {
    display: block;
    width: 12rem; height: 12rem;
    max-width: 100%;
    padding: 3rem;
    margin: 0 auto 2rem;
    background-image: url('../images/petits-rayons.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
