#global-navbar {
  @extend .navbar, .navbar-expand-lg, .navbar-light;

  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .navbar-brand img {
    height: 5rem;
    width: auto;
  }
}
